body{
  padding: 0px;
  margin: 0px;
}

/*App is mainly for the background image*/
.Composition {
  background-image: url("./assets/notebook.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

/* The side navigation menu */
.black_sideline {
  background-image: url("./assets/black_side.jpg");
  height: 100%; /* 100% Full-height */
  width: 130px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
}

/*Calendar is mainly for the background image*/
.Calendar {
  background-image: url("./assets/line_paper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  height: 96vh;

  
  min-height: 100vh;
}

/*Card is the centered box in the middle of the screen*/
.card {
  background-color: white;
  border: 30px black;
  border-style:double;
  
  border-radius: 30px;
  padding: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  max-width: 300px;
  
}

.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-bottom: 30px;
  margin-top: 0;
}

.card .card-text {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: black;
}

/*hr is for the line breaks that look like the lines in a composition notebook*/
hr {
  border: none;
  height: 3px;
  width: 300px;
  background-color: black; 
}

/*Buttons for each page*/
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.homeButton {
  background-color: white; 
  color: black; 
  /*border: 2px solid black;*/
  border: none;
  border-radius: 4px;
  padding: 2px 80px;
  font-size: 15px;
}

.homeButton:hover {
  background-color: grey;
  color: white;
}

.loginButton {
  background-color: white; 
  color: black; 
  border: 2px solid black;
  border-radius: 4px;
  padding: 2px 80px;
  font-size: 15px;
}

.loginButton:hover {
  background-color: grey;
  color: white;
}

.space {
  height: 40px;
}


/*Calendar CSS*/

.sticky-header {
  background-color: grey;
  padding: 10px 0;

}

/*
margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #f2f2f2;

  top: 0;
  left: 0;
  right: 0;
*/

.table_foundation {
  background-color: aqua;
}
table {
  font-family: arial, sans-serif;
  
  border-spacing: 30px;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr {
  background-color: white;
}
