.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Side nav in the calendar main page */
.sideNav {
    background-image: url(./assets/notebook.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .rbc-header {
    color: white;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px !important;
    background: rgb(205, 28, 28);

  }

  .rbc-allday-cell {
    display: none;
  }

  .rbc-time-header-cell .rbc-today {
    background-color: green;
  }

  .rbc-time-slot {
    color: blue;
    z-index: 1;
  }

  .rbc-time-slot:not(.rbc-today .rbc-time-slot) {
    background-color: white;
  }

.rbc-event,
.rbc-background-event {
    z-index: 2;

}

.rbc-time-slot .rbc-time-slot:after {
    content: "";
    width: 100%;
    border-top: 10px solid orange;
    display: block;
}
